<div class="text-center">
  <h2><%= I18n.t('activerecord.attributes.awards.name') %> | <%= @award.name %></h2>
  <h2><%= I18n.t('activerecord.attributes.awards.description') %> | <%= @award.description %></h2>
  <h2><%= I18n.t('activerecord.attributes.awards.points_to_redeem') %> | <%= @award.points_to_redeem %></h2>
</div>