<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sipario" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.ico" type="image/ico">
    <link rel="apple-touch-icon" href="/icon.ico">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <%= content_tag :body, data: { action: action_name, controller: controller_name, path: request.path, controller: "toggle" } do %>
    <header>
      <%= render 'header' %>
    </header>
    <%= render 'flash' %>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'footer' %>
  <% end %>
</html>
